<nav class="flex justify-center items-center gap-x-10 my-10">

 <h1 class=" text-5xl absolute left-2  text-red-300 font-bold">Blog</h1>
<a href="/">Home</a>
<a href="/About">About</a>
<a href="/Contacts">Contacts</a>
<a href="/login">Login</a>
<a href="/Register">Register</a>


</nav>