
<%- include('partials/header') %>
<%- include('partials/nav') %>





<div class="w-[80%] mx-auto p-10 flex justify-center items-center bg-red-200">    
  
<h1 class="text-5xl text-white font-bold ">This is Homepage</h1>

  


</div>






<%- include('partials/footer') %>
