<%- include('partials/header') %>
  <%- include('partials/nav') %>
    <div class="w-[80%] h-[40%] flex mx-auto p-10 justify-center items-center bg-red-200 absolute top-40 left-40">
      <h1 class="text-6xl text-white font-bold ">This is Homepage</h1>
    </div>
    <%- include('partials/footer') %>