<%- include('partials/header') %>
<%- include('partials/nav') %>




<div class="w-[80%] h-[30%] mx-auto p-10 flex justify-center items-center bg-red-200 absolute top-60 left-40">    
  
    <h1 class="text-6xl text-white font-bold "> <%= `Welcome ${user.name}` %> </h1>
    
      
    
    
    </div>








<%- include('partials/footer') %>